// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body {
  margin: 0;
  background-color: #dddddd;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  height: 1.5rem;
  width: auto;
  color: white;
  margin: 5px;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.large-font {
  font-size: 2.5rem;
}

.medium-font {
  font-size: 1.5rem;
  margin: 5px;
}

.small-font {
  font-size: 1rem;
}

.smallest-font {
  font-size: 0.75rem;
}

.btn-primary {
  font-weight: bold;
}

.sidebar-heading {
  border-bottom: 2px solid black;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-container {
  display: flex;
  flex: 1;
}

.sidebar-section {
  display: flex;
  width: 30vw;
  flex-direction: column;
}

.sidebar-item {
  display: flex;
  gap: 10px;
  margin: 5px;
}

.btn-group-vertical {
  width: 95%;
}

.sidebar-text {
  flex: 1;
  text-align: left;
}

.project-form {
  margin: 5px;
  display: none;

  label {
    font-weight: bold;
  }
}

.btns-container {
  display: flex;
  gap: 5px;
  margin: 5px;
  justify-content: center;

  button {
    flex: 1;
  }
}

.content-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.task-item {
  display: flex;
}

.task-item-text {
  flex: 1;
}

.add-task-button {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.task-form {
  display: none;
  flex-direction: column;
  padding: 10px;
}

@media (max-width: 600px) {
  $content-width: 95vw;

  .main-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .sidebar-section {
    width: $content-width;
  }

  .content-section {
    width: $content-width;
  }
}
