// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body {
  margin: 0;
  background-color: #dddddd;
}

.large-font {
  font-size: 2.5rem;
}

.medium-font {
  font-size: 1.5rem;
}

.btn-primary {
  font-weight: bold;
}

.underline {
  border-bottom: 2px solid black;
}

.main-container {
  display: flex;

}

.sidebar-section {
  display: flex;
  width: 30vw; 
}

.sidebar-item {
  display: flex;
  gap: 10px;
  margin: 5px;
}

.btn-group-vertical {
  width: 95%;
}


@media (max-width: 600px) {
  $content-width: 95vw; 

  .main-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .sidebar-section {
    width: $content-width;
  }

  .content-section {
    width: $content-width;
  }
}